{% extends 'base.html' %}

{% block title %}Login - Datacenter{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Login</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Nome de usuário:</label>
            <input type="text" class="form-control" name="username" id="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha:</label>
            <input type="password" class="form-control" name="password" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
    </form>
</div>
{% endblock %}
