{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-primary">Registro - Sala Cofre</h1>

    <form method="POST" class="p-4 border rounded bg-light shadow-sm">
        {% csrf_token %}
        

        <div class="mb-3">
            <label for="observation" class="form-label">Observação:</label>
            <input type="text" id="observation" name="observation" class="form-control" placeholder="Descreva a observação">
        </div>


        <div class="mb-3">
            <label for="temperature" class="form-label">Temperatura (°C):</label>
            <input type="number" id="temperature" name="temperature" class="form-control" step="0.1" min="-10" max="50" required>
        </div>


        <div class="mb-3">
            <label for="limpeza" class="form-label">Estado de Limpeza:</label>
            <select id="limpeza" name="limpeza" class="form-select" required>
                <option value="L">Limpo</option>
                <option value="M">Mais ou Menos</option>
                <option value="S">Sujo</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
